
body {
    margin: 0 auto;
    color: deepskyblue;
}

header {
    /*position: fixed;*/
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #02979C;
    line-height: 66px;
    border-color: orange;
    color: black;
    text-align: center;
}

header a, a:link, a:focus, a:active, a:visited {
    font-size: 25px;
    color: white;
}

header img {
    height: 70px;
}

header a:hover {
    color: orange;
    background-color: white;
    border-radius: 30px;
    text-decoration: none;
}

.padding{
    padding-left: 10px;
    padding-right: 10px;
}

footer {
    /*position: fixed;
    bottom: 0;
    left: 0;
    /*width: 100%;*/
    height: 75px;
    background-color: #02979C;
    color: black;
    text-align: center;
}

#contenu {
    /*margin-top: 100px;*/
}

.ombre {
    box-shadow: 10px 10px 30px #02C7CC !important;
}

#popup {
    position: absolute;
    display: block;
    background-color: orange;
    border-radius: 20px;
    text-align: center;
    opacity: 0.7;
    width: 30%;
    height: 25%;
    padding-bottom: 20px;
    top: 40%;
    left: 40%;
    margin: 0 auto;
}
.candidat {
    width: 150px;
    border: 0;
    box-shadow: 10px 10px 30px #02C7CC !important;
    border-radius: 10px;
}

.overlay {
    background: rgba(0,0,0,0.5);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 100%;
    z-index: 99;
    display: block;
}
.popUp {
    box-shadow: 10px 10px 30px #02C7CC !important;
    border-radius: 10px;
    width: 440px;
    height: auto;
    margin: 0 auto;
    position: relative;
    text-align: left;
    padding: 30px;
    background: #fff;
    top: 25%;
}
.popUp .close {
    background: transparent url("images/promo_2018/logos/icon-delete.png") no-repeat scroll 0 0;
    display: block;
    height: 26px;
    margin-right: 11px;
    position: absolute;
    width: 26px;
    right: 0;
    top: 10px;
}
.popUp {
    text-align: left;
}
a:hover {
    color: #004a68;
    text-decoration: none;
}
a:active, a:hover {
    outline: 0;
}